.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    overflow-y: auto;
    position: fixed;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh - 150px);
    z-index: 9999;
  }

  .quote-edit-modal .modal-dialog {
    overflow-y: initial !important;
  }
  
  .quote-edit-modal .modal-body {
    max-height: calc(100vh - 150px); /* Adjust the height according to your layout */
    overflow-y: auto;
  }

  .quote-edit-modal .modal-body::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    margin-right: 8px; /* Adjust the margin to move the scrollbar to the right */
  }
  
  .quote-edit-modal .modal-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
    border-radius: 4px; /* Border radius of the scrollbar thumb */
  }
  
  .quote-edit-modal .modal-body::-webkit-scrollbar-track {
    background-color: transparent; /* Background color of the scrollbar track */
  }
  
  .modal-card {
    width: 350px;
    height: fit-content; /* Adjust height as needed */
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    text-align: center;
    z-index: 9999;
  }

  .multi-column{
    display: flex;
    align-items: center;
  }
  